# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# csv files
#*.csv

# SAG csv files
/App/Data/SAG_2017/
/App/Data/SAG_2018/
/App/Data/SAG_2019/
/App/Data/SAG_2020/
/App/Data/SAG_2021/
/App/Data/SAG_2022/
/App/Data/SAG_2023/
/App/Data/SAG_2024/
# SID csv files
/App/Data/SID_2017/
/App/Data/SID_2018/
/App/Data/SID_2019/
/App/Data/SID_2020/
/App/Data/SID_2021/
/App/Data/SID_2022/
/App/Data/SID_2023/
/App/Data/SID_2024/

# worksheet file
/dev/worksheet.R

/hangman/