p {
    font-size: 21px;
}

li {
    font-size: 20px;
}
  /*
body {
    padding-top: 70px;
  }
*/
#table tr:hover {
    background-color: rgba(240, 136, 33, 0.4) !important;
  }

.leaflet-container {
    background: #ffffff; 
    border-color: #000000;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #7e7e7e;
    }

#tbl {outline:#dddddd solid 1px;}

.navbar-default {
  background-color: #002D60; /*#2fa4e7;*/
  border-color: #00438F; /* #1995dc*/
  background-image: linear-gradient(#00438fd2, #002d60d2 60%, #002652d2); /*linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);*/
  background-repeat: no-repeat;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%)
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000000;
  /*
  background-color: #F15D2A;
  
  opacity: .9;
  */
  background-color: #C2DEFF; 
  /*
  background-image: linear-gradient(#EBF4FF, #C2DEFF 60%, #99C9FF);/*#178acc */
  
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.disabled {
  /*
  background: #819898 !important;
  cursor: not-allowed;
  border-color:#819898;
  color: #737373;
*/
  cursor: not-allowed;
  color: #ffffff;
  background-color: transparent;
}
.navbar-nav>li>a:hover {
  color: #ffffff;
  background-color: transparent;
}



.panel-primary {
  border-color: #ffffff;
}
.panel-primary>.panel-heading {
  color: #ffffff;
  background-color: #9AC2B7; /* #2fa4e7  #AEC640*/
  border-color: #dddddd;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}



.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.btn-default {
  color: #ffffff;
  background-image: linear-gradient(#b6cc54, #aec640 60%, #b6cc54); /*linear-gradient(#f69371, #F15D2A 50%, #f69371)   #bad5ce, #9AC2B7 50%, #bad5ce*/
  background-repeat: no-repeat;
  background-color: #aec640;
  border-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid #e6e6e6;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 26px;
  height: 26px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  transition: 1s opacity 200ms;
  /*position: relative;
  top: 4px;

  border: 0px;
  width: 100%;
  height: 2em;*/
}
input[type=radio]:checked {
  border: 10px solid #f15d2a;
  outline: unset !important /* I added this one for Edge (chromium) support */
}



.hovertext {
  position: relative;
  
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;

  position: absolute;
  z-index: 1;
  /*left: 0;
  top: 110%;*/
  top: -5px;
  left: 105%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.nav a:hover {
  color: maroon;    
}
